<section>
        <div class="col-lg-12 text-center">
                <h2 class="section-heading">Spenden</h2>
                <h3 class="section-subheading text-muted"><div>Vielen Dank, dass Sie unser Projekt mit einer Spende unterstützen möchten!</div>
                <div>Wir glauben daran, dass wir gemeinsam etwas bewirken können.</div>
                    </h3>
            </div>
        <div align = "center"> 

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="LAN3KURZB836N" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
                    </form>                    
        </div> 
       
</section> 
